* {
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    display: flex;
    flex-direction: column;

}

.alert-info{
    background-color: #CCFFFF;
    border: 3px solid #D0D2D2;
    padding: 13px;

}

h1 {
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin: auto;
}
 nav {
    display: flex;
    justify-content: center;
    align-content: center;

}

ul > li {
    display: flex;
    /*justify-content: space-evenly ;*/
    background-color: #D0D2D2;
    margin: 10px auto;
    justify-content: center;
    padding: 13px;

}
li>a{
    color: blue;

}

ul{
    width: 100%;
    padding: 0;

}


.alert-info >a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
}
.header-img > img {
    height: 100%;
    width: 100%;

    }

.header-img {
    margin: -10px 0 0 0;
    width: auto;
    height: auto;
}

.sub-section {
    font-style: italic;
}

footer {
    font-size: 80%;
    margin-top: 40px;
}

#social-media-links {

    font-size: 35px;
    margin-top: -10px;
    display: none;
}







@media screen and (min-width: 768px) {
    * {
        font-family: 'Roboto Condensed', sans-serif;
        text-align: center;
    }
    body {
        /*display: flex;*/
        display: inline-block;
        flex-direction: column;
        margin: 20px;
        height: 100%
    }
    .alert-info {
        display: none;
    }
    h1 {
        display: flex;
        align-self: center;
        /*flex-direction: row;*/
        float: left;

    }
    nav {
        display: inline-block;
        flex-direction: row;
        float: right;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        margin-block-start: auto;
    }
    ul > li {
        background-color: white;
    }
    ul > li{
        padding-right: 0;
    }

    .header-img {
        margin-bottom: 10px;
    }

    .header-img > img {
        margin-top: 10px;
    }

    .main {
        display: flex;
        flex-direction: row;
        float: left;
        flex-wrap: wrap;
        width: 72%;
    }

    .sub-section {
        display: flex;
        float: right;
        flex-wrap: wrap;
        width: 28%;
    }
    section {
        display: inline-block;
        margin: auto;
    }
    p {
        text-align: start;
        float: left;
    }
    .main > p {
        padding-right: 10%;
    }
    footer {
        margin-top: 100%

    }
    #social-media-links {
        display: flex;
        float: right;
        margin-top: -20px;
            }
    .right_nav > a > i  {
        font-size: 35px;
        margin-top: -10px;
    }
}
